body {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;    
    margin: 0;
    background-color: rgb(17, 17, 36);
}

#wrapGrid {
    --boxSize: 0px;
    --rowCount: 0;
    --columnCount: 0;
    --borderSize: 1px;
    overflow: hidden;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(var(--columnCount), calc(var(--boxSize) + var(--borderSize)));
    grid-template-rows: repeat(var(--rowCount), calc(var(--boxSize) + var(--borderSize)));
    user-select: none;
    cursor: grab;
}
#wrapGrid.active {
    cursor: grabbing;
}
#wrapGrid.drawMode {
    cursor: cell;
}
#wrapGrid div {
    height: var(--boxSize);
    aspect-ratio: 1;
    border-style: solid;
    border-color: white;
    border-width: var(--borderSize);
}
.alive {
    background-color: rgb(220, 220, 220);
}

.menu {
    position: fixed;
    top: 50px;
    right: 100px;
}